/* Variables*/

/* Base*/


/* Utils*/

.text-center {
  text-align: center;
}

/* Typography*/

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system,sans-serif;
  line-height: 2.0em;
  color: #666;
}

h1, .heading-1 {
  margin: 0 0 2.0rem;
  font-family: 'Libre Baskerville',serif;
  color: #444;
}

h2, .heading-2 {
  margin: 0 0 2.0rem;
  font-family: 'Libre Baskerville',serif;
  color: #444;
}

h3, .heading-3 {
  margin: 0 0 2.0rem;
  font-family: 'Libre Baskerville',serif;
  color: #444;
}

h4, .heading-4 {
  margin: 0 0 2.0rem;
  font-family: 'Libre Baskerville',serif;
  color: #444;
}

h5, .heading-5 {
  margin: 0 0 2.0rem;
  font-family: 'Libre Baskerville',serif;
  color: #444;
}

h6, .heading-6 {
  margin: 0 0 2.0rem;
  font-family: 'Libre Baskerville',serif;
  color: #444;
}

h1, .heading-1 {
  font-size: 2.0rem;
}

h2, .heading-2 {
  font-size: 1.8rem;
}

h3, .heading-3 {
  font-size: 1.6rem;
}

.section-heading {
  margin-bottom: 2.0rem;
  padding-bottom: 2.0rem / 2;
  border-bottom: 1px solid #666;
}

.section-heading h2 {
  margin-bottom: 0;
}

/* Title Section*/

.title {
  text-align: center;
}


