/* Variables*/

/* Base*/

* {
  box-sizing: border-box;
}

/* Utils*/

.text-center {
  text-align: center;
}

.block {
  display: block;
  width: 100%;
}

.base-height {
  margin-bottom: 2.2rem;
}

.base-height-half {
  margin-bottom: calc(2.2rem / 2);
}

.base-height-none {
  margin-bottom: 0;
}

.hidden {
  display: none !important;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visually-hidden.focusable:active, .visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Typography*/

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system,BlinkMacSystemFont,sans-serif;
  line-height: 2.2rem;
  color: #666;
}

p {
  margin-top: 0;
  margin-bottom: 2.2rem;
}

h1, .heading-1 {
  margin: 0 0 2.2rem;
  font-family: 'Libre Baskerville',serif;
  line-height: inherit;
  color: #444;
}

h2, .heading-2 {
  margin: 0 0 2.2rem;
  font-family: 'Libre Baskerville',serif;
  line-height: inherit;
  color: #444;
}

h3, .heading-3 {
  margin: 0 0 2.2rem;
  font-family: 'Libre Baskerville',serif;
  line-height: inherit;
  color: #444;
}

h4, .heading-4 {
  margin: 0 0 2.2rem;
  font-family: 'Libre Baskerville',serif;
  line-height: inherit;
  color: #444;
}

h5, .heading-5 {
  margin: 0 0 2.2rem;
  font-family: 'Libre Baskerville',serif;
  line-height: inherit;
  color: #444;
}

h6, .heading-6 {
  margin: 0 0 2.2rem;
  font-family: 'Libre Baskerville',serif;
  line-height: inherit;
  color: #444;
}

h1, .heading-1 {
  font-size: 2.0rem;
  line-height: 3.0rem;
}

h2, .heading-2 {
  font-size: 1.8rem;
}

h3, .heading-3 {
  font-size: 1.6rem;
}

.section-heading {
  margin-bottom: 2.2rem;
  padding-bottom: 2.2rem / 2;
  border-bottom: 1px solid #666;
}

.section-heading h2 {
  margin-bottom: 0;
}

/* Buttons*/

button {
  background: none;
  border: none;
  padding: 0;
  font-size: inherit;
}

.btn {
  padding: 0.8rem;
  background-color: #199e5e;
  border: 2px solid #168458; /* TIL input[text] has a 2px border width in chrome*/
  color: #fff
}

.btn:hover {
  cursor: pointer;
  background-color: #199e5e;
}

.text-btn {
  color: #199e5e;
}

/* Forms*/

.label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4rem;
}

input[type="text"], select {
  font-size: inherit;
}

input[type="text"] {
  padding: 0.8rem;
  border-width: 2px; /* default in chrome but I want to force it for button consistency*/
}

select {
  background: none;
  height: 38px; /* match height of text input in browser*/
}

.form-control {
  margin-bottom: 2.2rem;
}

.form-control-left-right {
  display: flex;
}

.form-control-left {
  flex-basis: 50%;
  margin-right: calc(2.0rem / 2);
}

.form-control-right {
  flex-basis: 50%;
  margin-left: calc(2.0rem / 2);
}

.inline-form {
  display: flex;
  width: 100%;
}

/* Title Section*/

.title {
}

.tools-header {
  display: flex;
  justify-content: space-between;
}

.tools-header-heading, .tools-header-tools {
}

/* Character / Monster*/

.character, .monster {
  margin-bottom: calc(2.2rem / 2)
}

.character:last-child, .monster:last-child {
  margin-bottom: 2.2rem;
}

.character-level-wrapper, .monster-rating-wrapper, .monster-xp-wrapper {
  flex-basis: 50px;
}

.character-name-wrapper, .monster-name-wrapper {
  flex-grow: 1;
}

.character-name, .monster-name {
  width: 100%;
}

.btn-remove-character, .btn-remove-monster {
  flex-basis: 50px;
}
