// Variables

$font-family-serif: 'Libre Baskerville', serif;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, sans-serif;

$gray-1: #444;
$gray-2: #666;

$base-height: 2.2rem;
$small-screen: 600px;

// Base

* {
  box-sizing: border-box;
}

// Utils

.text-center {
  text-align: center;
}

.base-height {
  margin-bottom: $base-height;
}

.base-height-half {
  margin-bottom: calc($base-height / 2);
}

.base-height-none {
  margin-bottom: 0;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// Typography

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: $font-family-sans-serif;
  line-height: $base-height;
  color: $gray-2;
}

p {
  margin-top: 0;
  margin-bottom: $base-height;
}

@for $i from 1 to 6 {
  h$i, .heading-$i {
    margin: 0 0 $base-height;
    font-family: $font-family-serif;
    line-height: inherit;
    color: $gray-1;
  }
}

h1, .heading-1 {
  font-size: 2.0rem;
  line-height: 3.0rem;
}

h2, .heading-2 {
  font-size: 1.8rem;
}

h3, .heading-3 {
  font-size: 1.6rem;
}

.section-heading {
  margin-bottom: $base-height;
  padding-bottom: $base-height / 2;
  border-bottom: 1px solid $gray-2;

  h2 {
    margin-bottom: 0;
  }
}

// Forms

.label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4rem;
}

input[type="text"],
select {
  font-size: inherit;
}

input[type="text"] {
  padding: 0.8rem;
}

select {
  background: none;
  height: 38px; // match height of text input in browser
}

.form-control {
  margin-bottom: $base-height;
}

.block-input {
  display: block;
  width: 100%;
}

// Title Section

.title {
  text-align: center;
}


