// Variables

$font-family-serif: 'Libre Baskerville', serif;
$font-family-sans-serif: -apple-system, sans-serif;

$gray-1: #444;
$gray-2: #666;

$base-height: 2.0rem;
$small-screen: 600px;

// Base


// Utils

.text-center {
  text-align: center;
}

// Typography

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: $font-family-sans-serif;
  line-height: 2.0em;
  color: $gray-2;
}

@for $i from 1 to 6 {
  h$i, .heading-$i {
    margin: 0 0 $base-height;
    font-family: $font-family-serif;
    color: $gray-1;
  }
}

h1, .heading-1 {
  font-size: 2.0rem;
}

h2, .heading-2 {
  font-size: 1.8rem;
}

h3, .heading-3 {
  font-size: 1.6rem;
}

.section-heading {
  margin-bottom: $base-height;
  padding-bottom: $base-height / 2;
  border-bottom: 1px solid $gray-2;

  h2 {
    margin-bottom: 0;
  }
}

// Title Section

.title {
  text-align: center;
}


